.movie {
	#wrapper { font-size: 0; font-weight: lighter; max-width: 1800px; margin: 0 auto;
		* { font-size: 16px; }
		.left, .right { display: inline-block; width: 40%; vertical-align: top; padding: 50px 100px 20px 20px;
			&.left { padding: 50px 20px 20px 100px; width: 60%; }
			h2 { color: $c; text-transform: uppercase; font-size: 28px; margin-bottom: 50px; font-weight: lighter; }
			p { margin-bottom: 10px !important;
				&:last-child { text-align: justify; margin-top: 30px; }
			}
			figure, .trailer { max-width: 450px; width: 90%; margin: 0 0 0 auto; position: relative;
				img, h3, video { width: 100% !important; height: auto; display: block; }
				h3 { text-align: center; text-transform: uppercase; font-size: 14px; padding: 10px; background: $c; font-weight: lighter; }
				.viewed { position: absolute; right: 0; top: 0; display: flex; align-items: center; padding: 0px 13px 0px 13px; background: $bl;
					* { margin: 0; display: inline-block; }
					p { margin-left: 2px; font-style: italic; margin-top: 10px; }
				}
			}
		}
	}
	.nav-pills { margin: 50px 0 20px; }
}
