.box{style: "height: 100%; display: flex; align-items: center; text-align: center;"}
  %div.flexbox.center{style: "width: 100%;"}
    %span.fa.fa-life-ring{style: "font-size: 10em; margin: 0.5em; opacity: 0.5; color: #3498db;"}
    %h1{style: "font-family: 'futura'; text-transform: uppercase; font-weight: 200;"}= I18n.t('unavailable.title')
    %p{style: "font-family: 'Open Sans'; font-weight: 100; margin: 30px;"}= I18n.t('unavailable.source502')
