.row
  .small-12.small-centered.columns{ :style => "text-align: center" }
    %h1
      %b Forgot password
.row.input-group
  %form.small-12.columns{ :action => "", :method => "post" }
    %input{ :type => "email", :name => "email", :placeholder => "Email" }
    %input.button{ :type => "submit", :value => "Send an email" }
