.row
  .small-12.small-centered.columns{ :style => "text-align: center" }
    %h1
      %b Reset password
.row.input-group
  %form.small-12.columns{ :action => "", :method => "post" }
    %input#password{ :type => "password", :name => "password", :placeholder => "Password"}
    %input#confirm_password{ :type => "password", :name => "confirm_password", :placeholder => "Confirm Password"}
    %input.button{ :type => "submit", :value => "Reset your password" }
